.container {
  margin: auto;
  background-color: #25132D;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.thumbnail {
  background-color: #25132D;
  border: 2px solid #25132D;
}
li {
  margin-top: 5px;
  font-size: 15px;
}
.body-text {
  color: #DAECD2;
  padding: 2px;
}
i {
  color: #DAECD2;
}
b {
  color:  #DAECD2;
}
.footer-span {
  display: inline-block;
}
p {
  text-align: center;
  margin: auto;
  font-style: italic;
  font-size: 18px;
  margin-top: 20px;
}
.top-page {
  text-align: center;
}
.fa-reddit {
  color: #ff5700;
  background: white;
}
.fa-github {
  color: black;
  background: white;
}
.fa-linkedin {
  color: white;
}
.bio-list {
  text-align: justify;
}
#quote {
  padding: 10px;
}
* {
  font-family: Knockout, Helvetica, sans-serif;
  color: #DAECD2;
}